{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h3> Profile of users {{ user.username }}</h3>
    <ul>
        <li>Login {{ user.username }}</li>
        <li>Email {{ user.email }}</li>
        <li>Name {{ user.get_full_name }}</li>
        <li>Products {{ user.product.all.count }}</li>
    </ul>
    {% if user == request.user %}
        <div>
            <a class="btn btn-primary" href="{% url 'password_change' %}" role="button">Change password</a>
        </div>
    {% endif %}
    <h4>Ваши товары:</h4>
    {% include 'includes/products.html' %} 



{% endblock %}