{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
    <h2>All retailers information</h2>
    
    <table class="table table-primary table-datrk table-striped">
      <thead>
        <tr class="table-primary">
          <th>Login</th>
          <th>Email</th>
          <th>Name</th>
          <th>Products</th>
        </tr>
      </thead>
      <tbody>
        {% for retailer in retailers %} 
        <tr>
          <td>{{ retailer.username }}</td>
          <td>{{ retailer.email }}</td>
          <td>{{ retailer.get_full_name }}</td>
          <td>{{ retailer.product.all.count }}</td>
        </tr>
       {% endfor %}
    </tbody>
    </table>
   
  </div>

{% endblock %}