{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
    </div>
    {% if product.photo %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="{{ product.photo.url }}" width="100%">
        </div>
    {% endif %}
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h3>{{ product }}</h3>
        <h3>{{ product.price }}$</h3>
        
        <div>{{ product.description|linebreaks }}</div>
        {% if product.active %}
            <h5 class="alert alert-success">On stock</h5>
        {% else %}
            <h5 class="alert alert-danger">Sold</h5>
        {% endif %}
    </div>
</div>
    
{% endblock %}